header {
    background-color:var(--main-theme);
    font-size: 24px;
}

.nav--div {
    display: flex;
    justify-content: space-between;
}

.nav--logo{
    text-align: center;
    padding: 20px 0;
    margin-left: 5%;
}

.nav-menu ul{
    padding: 0;
    margin: 0;
}

.nav-menu a:link{
    color: black;
}

.nav-menu a:visited{
    color: black;
}

.nav-menu a{
    text-decoration: none;
}
.nav-menu .blue:hover {
    background-color: lightskyblue;
}

.nav-menu .red:hover {
    background-color: rgb(236, 69, 69);
}

.nav-menu .yellow:hover {
    background-color: rgb(236, 197, 69);
}

.nav-menu .green:hover {
    background-color: rgb(74, 236, 69);
}

.nav-menu .purple:hover {
    background-color: rgb(113, 69, 236);
}

/* ---------------MOBILE------------------------------ */

.nav-menu{
    position: absolute;
    top: 74px;
    right: 2%;
    display: none;
    z-index: 1;
}

.nav--hamburger{
    padding: 15px 5% 15px 0;
}

.nav--hamburger i{
    padding: 10px;
    background-color: white;
}

.nav--hamburger:hover .nav-menu{
    display: block;
}

.nav-menu ul{
    list-style: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-menu li{
    padding:15px 25px;
    font-size: 20px;
}

@media screen and (min-width:990px) {
    .nav-menu {
        display: block;
    }

    .nav--hamburger i{
        display: none;
    }
    
    .nav-menu{
        top:0;
        right: 0;
    }

    .nav-menu li{
    height: 100%;
    display: inline-block;
    padding:23px 20px;
    display: table-cell;
    }

    .nav-menu ul{
        list-style: none;
        background-color: rgba(0, 0, 0, 0.0);
    }
}

@media  screen and (min-width:1333px) {
    
    .nav--logo{
        font-size: 35px;
    }

    .nav-menu li{
        padding:28px 20px;
        font-size: 22px;
    }
}